* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    overflow: hidden;
    touch-action: none;
    background: #121212;
}

header {
    display: flex;
    position: absolute;
    width: 100%;
    z-index: 1;
    background: #121212;
}

header * {
    margin: 0.1em;
    padding: 1em;
    background: #121212;
    color: white;
    border: white 2px solid;
    border-radius: 2px;
}

#pdf-url {
    flex: 1;
}

.pdf-container {
    flex: 1;
}

.pdf-view {
    filter: invert(1) brightness(2) hue-rotate(180deg);
}
